<div class="col-12">
    <div class="col-3">
        <div>
            
            <img src="/static/image/people/brand.jpg" width="100px" height="50px">
            
            <table>
                <tr>
                    <td>Cơ Sở 1:</td>
                    <td>Hà Nội 1</td>
                </tr>
                <tr>
                    <td>Cơ Sở 2:</td>
                    <td>Hà Nội 2</td>
                </tr>
                <tr>
                    <td>Cơ Sở 3:</td>
                    <td>Hà Nội 3</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="col-3">
        <div>
            <img src="" width="100px" height="50px">
        </div>
    </div>
    <div class="col-3">
        <div>
            <ul>
                <li>Dịch vụ 1</li>
                <li>Dịch vụ 2</li>
                <li>Dịch vụ 3</li>
            </ul>
        </div>
    </div>
    <div clas="col-3">
        <div>
            Phone : 0987654321
        </div>
    </div>
</div>