{% extends "template.html" %}  


 
{% block header %}
    {% include "header.html" %}  
{% endblock %}




{% block content %}

<javascipt>

</javascipt>
    <div></div>
    <div class="col-3">
        <form action="/shoes/shoe_filter" method="POST">
        <div>   
                <div><label>Giá :</label></div>
                <div class ="filer_price"> 
                    <ul>
                        <li><input type="radio" name="range_price" value="all" />All</li>
                        <li><input type="radio" name="range_price" value="200" />100.000đ - 300.000đ</li>
                        <li><input type="radio" name="range_price" value="400" />300.000đ - 500.000đ</li>
                        <li><input type="radio" name="range_price" value="600" />500.000đ - 700.000đ</li>
                        <li><input type="radio" name="range_price" value="800" />700.000đ - 900.000đ</li>      
                    </ul> 
                
                </div>
        </div>
        <div>   
                <div><label>Size :</label></div>
                <div>
                    <ul>
                        {% for i in range(36,45) %}
                        <a href="/">
                        <li class="size_filter" onclick="bg_id(this.id)" id="size+{{i}}"><input type="checkbox" name="range_size" value="{{i}}">{{i}}</li>
                        </a>
                        {% endfor %}
                    </ul> 
                </div>
        </div>
        <div >
            <button type="submit" >Tìm kiếm</button>
        </div>
        
        </form>
    </div>
    <div class="col-9">
            <div>
                    <form action="/search" method="POST">
                        <div class="middle search display_flex">
                            <input class="input_search" name="search" type="search" placeholder="Tìm kiếm theo tên sản phẩm" value="{{search_title}}" required/>
                            <button class="button_search" type="submit">Search</button>
                        </div>
                        
                    </form>
                    {% if search_title %}
                    <div class="unsearch">
                        Tìm kiếm cho "{{search_title}}" 
                        <a class="" href="/">X</a>
                    </div>
                    {% endif %}  
                    {% for shoe in shoes %}
                    <div class="col-6 col-s-6 shoe">
                        <div class="img_shoe">
                            <a href="/shoes/{{shoe['id_shoes']}}"><img id="{{shoe['id_shoes']}}2" src="{{shoe['shoes_image']}}" width="250px" height="250px"/></a>
                            {% if shoe['shoes_sale_percent']!=0 %}
                            <div class="discount">
                                Giảm {{shoe['shoes_sale_percent']}} %
                            </div>
                            {% endif %}
                            <!-- <div class="sold_out">
                                Hết Hàng
                            </div> -->
                        </div>
                        <div class="color_shoe">
                        {% for shoe_color in shoes_color%}
                        {% if shoe_color['id_shoes'] == shoe['id_shoes']  %}
                        
                            
                            <img id="{{shoe['id_shoes']}}" onclick="change_image(this.id,this.title)" title="{{shoe_color['shoes_image']}}" src="{{shoe_color['shoes_image']}}" width="50px" height="50px">
                            
                        
                        {% endif %}
                        {% endfor %}
                        </div>
                        <div>
                            {{shoe['shoes_name']}}
                        </div>
                        <div class="price">
                            {% if shoe['shoes_sale_percent']!=0 %}
                            <div class="line-through">{{shoe['shoes_cost']}}đ</div>
                            {% endif %}
                            <div class="bigger">{{shoe['shoes_cost']*(100-(shoe['shoes_sale_percent']))/100}}đ</div>
                        </div>
                    </div>
                    
                    {% endfor %}
                    </div>
    </div>

 
{% endblock %}






<!-- footer -->

{% block footer %}
    {% include "footer.html" %} 
{% endblock %}

<!-- footer -->